* {
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #808080;
}
.container {
    width: 80%;
    border-top: 30px solid rgb(80, 14, 14);
    border-bottom: 30px solid rgb(80, 14, 14);
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #000000;;
}
.header {
    width: 100%;
    padding: 100px;
}
.profile_picture {
    width: 250px;
    border-radius: 50%;
    left: 30px;
}
.profile_name {
    margin-left: 20px;
    display: inline-block;
    font-size: 60px;
    line-height: 1.5em;
}
.profile_name p {
    letter-spacing: -7px;
    font-size: 50px;
}
.profile_info {
    float: right;
    font-size: 40px;
    color: #000000;
    text-align: right;
    line-height: 1em;
    font-family: '마루 부리OTF';
}
.profile_item {
    font-size: 20px;
    color: #7a7a7a
}
.content {
    width: 100%;
    clear: both;
}
.content a {
    color: #838383;
}
.content a:hover {
    color: #2e2e2e;
}
.skill {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #000000;
    font-size: 50px;
    margin-bottom: 50px;
    clear: both;
}
.skill::before {
    content: "";
    flex-grow: 1;
    background: #920808b3;
    height: 10px;
}
.skill::after {
    content: "";
    flex-grow: 1;
    background: #920808b3;
    height: 10px;
}
.item1 {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}
.skilled {
    float: left;
    width: 29%;
    background-color: #c4b1b1;
    box-shadow: 7px 7px 5px #000000;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 30px;
    transition: all .5s ease-in-out
}
.skilled img {
    width: 120px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skilled:hover {
    transform: translateY(10px);
}
.progress {
    float: right;
    width: 28%;
    padding: 30px;
    background-color: #c4b1b1;
    box-shadow: 7px 7px 5px #000000;
    border-radius: 10px;
    margin-right: 50px;
}
.progress img {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all .5s ease-in-out
}
.progress img:hover {
    color: #ff0000;
    text-shadow: 0 3px 3px #424242;
    transform: translateY(-5px);
}
.prog {
    display: inline-block;
    position: relative;
    width: 80%;
}
.prog img {
    width: 45px;
    height: 30px;
}
.progs {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 10px;
    text-align: left;
    font-family: '마루 부리OTF';
    line-height: 2.5em;
    background-image: url(image/progress2.gif);
    background-size: cover;
}
.footer {
    background-color: #008b8b;
    text-align: center;
    font-family: '마루 부리OTF';
    font-size: 20px;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-1px);
    }
}